.list {
    margin-top: 200px
}

.gridlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 28px;
    padding: 30px;
    animation: fadeIn 1s ease-in-out forwards;
    max-width: 100%;
    margin: 0 auto;
}
.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat, 'Courier New', Courier, monospace;
    font-weight: 700;
    margin-bottom: 20px;
  }

.listgriditem {
    height: 200px;
    background-color: rgb(247, 173, 167);
    position: relative;
    overflow: hidden;
    box-shadow: 6px 10px 10px 5px rgba(89, 89, 89, 0.6);
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 20px;
}

.listgriditem a {
    color: black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.listgriditem:hover{
    transform: scale(1.04);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.item-alphabet, .item-tenses, .item-audio, .item-ger-inf, .item-phrasals, .item-player, .item-irregulars {
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    font-size: 24px;
    text-shadow: 0 0 10px white;

}

/* Individual background settings */
.item-alphabet {
    background-image: url("../assets/newpics/alphprev.PNG");
    background-position: left;
    background-size: 300px;
}

.item-tenses {
    background-image: url("../assets/newpics/tensprev.PNG");
    background-position: center;
    background-size:290px;
}

.item-audio {
    background-image: url("../assets/newpics/audioprev.png");
    background-position: center;
    background-size: 290px;
}

.item-ger-inf {
    background-image: url("../assets/newpics/gerundprev.PNG");
}

.item-phrasals {
    background-image: url("../assets/newpics/phrasalsprev.PNG");
}

.item-player {
    background-image: url("../assets/newpics/playerprev.PNG");
}

.item-irregulars {
    background-image: url("../assets/newpics/irregprev.PNG");
    background-position: top;
    background-size: 350px;
}

.main-component {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hidden-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.listgriditem:hover .hidden-content {
    transform: translateY(0);  /* Slide up into view */
    opacity: 1;
}

@media only screen and (max-width: 670px) {

    .choose {
        font-weight: 400;
        font-size: 24px;
        padding: 0 15px;
        margin-bottom: 10px;
    }
    .gridlist {
        margin-top: 70px;
        padding: 0px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .hidden-content {
        transform: translateY(0);
        opacity: 1;
        height: 50px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .listgriditem:hover .hidden-content {
        transform: none;
        opacity: 1;
    }

    .listgriditem {
        width: 80%;
        height: 160px;
        background-color: rgb(247, 173, 167);
        margin: 10px;
        position: relative;
        overflow: hidden;
        box-shadow: 10px 10px 30px 0px rgba(89, 89, 89, 0.7);
    }

    .item-alphabet {
        font-size: 20px;
        height: 100%;
        background-size: 550px;
    }
    .item-tenses {
        font-size: 20px;
        background-size: 450px;
        background-position: top;
    }
    .item-audio {
        font-size: 20px;
        background-size: 320px;
    }
    .item-ger-inf {
        font-size: 20px;
        background-size: 420px;
        background-position: center;
    }
    .item-phrasals {
        font-size: 20px;
        background-size: 470px;
        background-position:right;
    }
    .item-irregulars {
        font-size: 20px;
        background-size: 500px;
    }
}