.gridlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 28px;
    padding: 30px;
    animation: fadeIn 1s ease-in-out forwards;
}
.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
  }
  
.sticker-pos1 img{
    position: absolute;
    width: 210px;
    height: 190px;
    top: 20px;
    right:450px;
    animation: fadeIn 1.4s ease-in-out forwards;
}

.sticker-pos1 img:hover {
    transform: scale(1.1);
}

.sticker-pos2 img {
    position: absolute;
    width: 220px;
    height: 210px;
    bottom: 50px;
    left:580px;
    animation: fadeIn 1.4s ease-in-out forwards;
    transform: rotate(30deg);
}

.sticker-pos2 img:hover {
    transform: scale(1.1);
}

.sticker-pos3 img {
    position: absolute;
    width: 190px;
    height: 210px;
    bottom: 20px;
    right:530px;
    transform: rotate(350deg);
    animation: fadeIn 1.4s ease-in-out forwards;
}
.sticker-pos3 img:hover {
    transform: scale(1.1);
}

.listgriditem {
    width: 460px;
    height: 200px;
    background-color: rgb(247, 173, 167);
    margin: 30px;
    margin-left: 100px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 30px 0px rgba(89, 89, 89, 0.7);
    transition: all 0.3s ease;
}

.listgriditem a {
    color: black;
}

.listgriditem:hover{
    transform: scale(1.04);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.item-alphabet {
    background-image: url("../assets/newpics/alphprev.PNG");
    height: 100%;
    background-size: 800px;
}

.item-tenses {
    background-image: url("../assets/newpics/tensprev.PNG");
    height: 100%;
    background-position:top;
    background-size: 470px;
    background-repeat: no-repeat;
}

/* .item-vowels {
    background-image: url("../assets/newpics/vowprev.PNG");
    height: 100%;
    background-size: 530px;
    background-position: center; 
}

.item-cons {
    background-image: url("../assets/newpics/consprev.PNG");
    height: 100%;
    background-size: 510px; 
    background-position: center;
} */

.item-audio {
    background-image: url("../assets/newpics/audioprev.png");
    height: 100%;
    background-position: left;
    background-size: 460px;
}

.item-ger-inf {
    background-image: url("../assets/newpics/gerundprev.PNG");
    height: 100%;
    background-size: 600px;
}

.item-phrasals {
    background-image: url("../assets/newpics/phrasalsprev.PNG");
    height: 100%;
    background-position:center;
    background-size: 500px;
    background-repeat: no-repeat;
}
.item-player {
    background-image: url("../assets/newpics/playerprev.PNG");
    height: 100%;
    background-position:left;
    background-size: 550px;
    background-repeat: no-repeat;
}

.item-irregulars {
    background-image: url("../assets/newpics/irregprev.PNG");
    height: 100%;
    background-position:top;
    background-size: 950px;
    background-repeat: no-repeat;
}

.main-component {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hidden-content {
    position: absolute;
    bottom: 0;  /* Start at the bottom */
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);  /* Initially hidden (slid down) */
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.listgriditem:hover .hidden-content {
    transform: translateY(0);  /* Slide up into view */
    opacity: 1;
}

@media only screen and (max-width: 670px) {

    .choose {
        font-weight: 400;
      }
    .gridlist {
        margin-top: 70px;
        padding: 0px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .hidden-content {
        transform: translateY(0);
        opacity: 1;
        height: 50px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .listgriditem:hover .hidden-content {
        transform: none;
        opacity: 1;
    }

    .sticker-pos1 img, .sticker-pos2 img, .sticker-pos3 img {
        display: none;
    }

    .listgriditem {
        width: 80%;
        height: 160px;
        background-color: rgb(247, 173, 167);
        margin: 10px;
        position: relative;
        overflow: hidden;
        box-shadow: 10px 10px 30px 0px rgba(89, 89, 89, 0.7);
    }

    .item-alphabet {
        font-size: 20px;
        height: 100%;
        background-size: 550px;
    }
    .item-tenses {
        font-size: 20px;
        background-size: 350px;
    }
    /* .item-player {
        font-size: 20px;
        background-size: 300px;
    } */
    .item-audio {
        font-size: 20px;
        background-size: 320px;
    }
    .item-ger-inf {
        font-size: 20px;
        background-size: 420px;
    }
    .item-phrasals {
        font-size: 20px;
        background-size: 390px;
        background-position: left;
    }
    .item-irregulars {
        font-size: 20px;
        background-size: 510px;
        background-position: center;
    }
}