.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  animation: fadeIn 1s ease-in-out forwards;
  animation: fadeIn 1s ease-in-out forwards;
}

.button-container button {
  background-color: transparent;
  border: 0px;
  background-color: white;
  border-radius: 6px;
  min-width: 250px;
  cursor: pointer;
  height: 25px;
  margin-right: 10px;
  font-family: Montserrat, 'Courier New', Courier, monospace;
  font-size: 18px;
}

.alphcont {
  display: flex;
  justify-content: center;
  animation: fadeIn 1s ease-in-out forwards;
}
.alphabet {
  color: white;
  margin: auto;
  justify-content: space-between;
  animation: fadeIn 1s ease-in-out forwards;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border-radius: 5px;
}

.letters {
  background-color: rgb(246, 132, 101);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  box-shadow: 10px 6px 2px #1313131a;
  border-radius: 60px;
  margin-right: 3rem;
  margin-bottom: 20px;
  color: white;
  transition: transform 0.1s ease-in-out;
}

.letters:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 670px) {
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .button-container button {
    min-width: 100px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .alphabet {
    color: white;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
  }
  .letters {
    background-color: rgb(246, 132, 101);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    min-width: 45px;
    min-height: 45px;
    box-shadow: 4px 4px 1px #1313131a;
    border-radius: 40px;
    margin-right: 0.5rem;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .alphcont {
    margin: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start state */
  }
  100% {
    opacity: 1; /* End state */
  }
}
