@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

img {
    width: 400px;
}
.backdrop{
  background-color: inherit;
}

.closebutton {
  color: white;
}

.menubartenses {
  background-color:  var(--primarycolor);
  color: rgb(0, 0, 0);
  display: flex;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  font-family: Montserrat;
}

.title {
    font-family: Montserrat;
    width: 500px;
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    background-color: white;
    margin: 0px;
}

.tenses-main {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.6s ease-in-out forwards;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  width: 70%;
  height: 100%;
}
.grid-item {
    font-family: Montserrat;
    color: black;
    font-size: 24px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.grid-item:hover {
  box-shadow: 2px 4px rgba(1, 6, 11, 0.3),
}

.useCase {
    max-width:400px;
}

  @media only screen and (max-width: 667px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      /* padding: 10px;
      width: auto; */
    }
    .tenses-main {
      margin-top: 20px;
    }
    .grid-item {
      padding: 10px;
    }
    img {
      width: 320px;
    }

    
  }