@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 .bg {
  display: grid;
  background-color: inherit;
  padding: 10px;
  font-family: Montserrat;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
  place-items: center;
  width: 60%;
  animation: fadeIn 1s ease-in-out forwards;
  margin-top: 6 0px
}

.accent {
  color: #ff00d0;
}

.card {
  height: 140px;
  width: 350px;
  background-color: #ffefbe;
  /* background-color: #c4f6f2; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-family: inherit;
}

.sound {
  background-color: rgb(134, 199, 65);
  border-radius: 7px;
  min-width: 80px;
  height: 80px;
  text-align: center;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.sound:active {
  transform: scale(0.9);
}

.colored-vowel {
  color: #ff00d0;
}

.example {
  background-color: rgb(249, 215, 203);
  min-width: 300px;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
} 

@media only screen and (max-width: 667px) {
  .bg {
    display: flex;
    flex-direction: column;
  }
  .card {
    height: 140px;
    width: 300px;
    background-color: #ffefbe;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: inherit;
    vertical-align: top;

  }
  
  .sound {
    background-color: rgb(134, 199, 65);
    border-radius: 7px;
    min-width: 70px;
    min-height: 60px;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 26px;
    margin-top: 10px;
  }
  
  .example {
    background-color: rgb(254, 197, 178);
    min-width: 200px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 30px;
  } 
}